<!--<mat-button-toggle-group aria-label="Font Style" [(value)]="loginOrRegistration">-->
<!--    <mat-button-toggle value="login">Login</mat-button-toggle>-->
<!--    <mat-button-toggle value="registration">Registration</mat-button-toggle>-->
<!--</mat-button-toggle-group>-->

<!--<div *ngIf="loginOrRegistration === 'login'" [formGroup]="loginForm" class="login-form">-->
<!--    <mat-form-field>-->
<!--        <mat-label>Email</mat-label>-->
<!--        <input matInput placeholder="Email" formControlName="email">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input matInput placeholder="Password" type="password" formControlName="password">-->
<!--    </mat-form-field>-->
<!--    <button mat-flat-button-->
<!--            (click)="onLogin()"-->
<!--            color="primary"-->
<!--            [disabled]="loginForm.invalid">Login</button>-->
<!--</div>-->

<!--<div *ngIf="loginOrRegistration === 'registration'" [formGroup]="registrationForm" class="registration-form">-->
<!--    <mat-form-field>-->
<!--        <mat-label>Email</mat-label>-->
<!--        <input matInput placeholder="Email" formControlName="email">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--        <mat-label>Full Name</mat-label>-->
<!--        <input matInput placeholder="Full Name" formControlName="fullName">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input matInput placeholder="Password" type="password" formControlName="password">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--        <mat-label>Confirm Password</mat-label>-->
<!--        <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">-->
<!--    </mat-form-field>-->
<!--    <button mat-flat-button-->
<!--            (click)="onRegistration()"-->
<!--            color="primary"-->
<!--            [disabled]="registrationForm.invalid">Registration</button>-->
<!--</div>-->
