

<mat-drawer-container class="content-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <div class="list">
            @for (item of menuItems; track item.name) {
                <div [routerLink]="item.path" routerLinkActive="list-item-active" class="list-item">
                    <mat-icon>{{item.icon}}</mat-icon>{{item.name}}
                </div>
            }
        </div>
    </mat-drawer>

    <app-header (menuClicked)="drawer.toggle()"></app-header>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>

<!--<mat-spinner></mat-spinner>-->
